@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img-project.jpg);
    background-size: cover;
    background-position: center;

}

.container {
    width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 1px 2px 1px, rgba(0, 0, 0, 0.077) 0px 6px 6px;


}

.container h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 30px;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #c5c5c5;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;

}

.remember-forgot {
    color: white;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: white;
    margin-right: 5px;
    margin: -15px 0 15px
}

.remember-forgot a {
    color: #FDA344;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18.5px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.login:hover {
    font-size: 18.5px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    transition: 0.5s;
}

.register-link {
    text-align: center;
    color: white;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #FDA344;
}

.register-link a:hover {
    text-decoration: underline;
}